@page "/"
@using load_balancing.Service
@inject IHttpClientFactory HttpClientFactory

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


@code{
    protected override async Task OnInitializedAsync()
    {
        await StartUp();
    }
    public async Task StartUp()
    {   
        // ProxyClient를 사용하여 HttpClient 인스턴스를 가져옵니다.
        var client = HttpClientFactory.CreateClient("ProxyClient");

        // GetAsync로 요청 보내기
        var response = await client.GetAsync($"/api/Function1");

        if (response.IsSuccessStatusCode)
        {
            var data = await response.Content.ReadAsStringAsync();
            Console.WriteLine(data);
        }
        else
        {
            // 에러 처리
            Console.WriteLine($"Error fetching data: {response.StatusCode}");
        }
    }
}